<div class="notification-container">
  <div 
    *ngFor="let notification of notifications" 
    class="notification"
    [ngClass]="'notification-' + notification.type"
  >
    <div class="notification-content">
      <i class="material-icons notification-icon">{{ getIconClass(notification.type) }}</i>
      <span class="notification-message">{{ notification.message }}</span>
      <button 
        class="notification-close" 
        (click)="removeNotification(notification.id)"
        aria-label="Close notification"
      >
        <i class="material-icons">close</i>
      </button>
    </div>
  </div>
</div>

